# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
*.pyc
__pycache__/

# Environment Variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Logs
*.log

# Python virtual environments
venv/
.env/

# Dependency directory
/.venv/
